h1 {
	background-color:	grey;
	color:				whitesmoke;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgrey;
	text-align: center;
}

.image-container {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

.image-container img {
	width: 250px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.caption {
	margin-top: 10px;
	font-size: 25px;
	color: dimgray;
}
